parameters:
	ignoreErrors:
		-
			message: '#^Instantiated class Dompdf\\Options not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../convoca-core/convoca-core.php

		-
			message: '#^Instantiated class Dompdf\\Options not found\.$#'
			identifier: class.notFound
			count: 1
			path: ../convoca-core/includes/CONV_Signature.php

		-
			message: '#^Function cst_crear_semana_tipo invoked with 0 parameters, 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: includes/cpt-turno.php
