parameters:
	level: 0
	paths:
		- ../includes
		- ../convoca-shifts.php
	excludePaths:
		analyseAndScan:
			- ../vendor
			- ../tests
			- ../dev-tools
			- ../node_modules (?)
	scanDirectories:
		# Los ficheros de Core viven en un repo hermano: ruta relativa, no absoluta a una máquina.
		- ../../convoca-core/includes
	bootstrapFiles:
		- ../vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- ../phpstan-bootstrap.php
